* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
header {
    text-align: center;
    padding: 20px;
    background-color: #0073e6;
    color: white;
}
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
aside {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
}
main {
    flex: 2;
    padding: 20px;
    background-color: #f9f9f9;
}
section {
    margin-bottom: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}